<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.propixen.app"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>ProPixen</name>

    <description>
        Propixen 
    </description>

    <author href="https://propixen.com" email="support@propixen.com">
        Mashiur Rahman
    </author>
	
	<feature name="http://api.phonegap.com/1.0/device" />
    
    <preference name="orientation" value="portrait" />
    
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.simplec.plugins.localnotification" />
	
	<icon src="icon.png" />
	<splash src="splash.png" />
	
	<content src="http://www.propixen.com" />
    <access origin="*" subdomains="true" />

</widget>